.cards
{
  box-shadow:0 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 110%;
  height: auto;
  margin: 1%;
  padding: 2%;
  position: relative;
  cursor: pointer;
  max-height: 100%;
  min-height: 86%;
}

.noOverflow {
  text-overflow: "...";
  white-space: nowrap;
  overflow: hidden;
}

.circle {
  height: 90%;
  width: 120%;
  border-radius: 50%;
  position: relative;
  border: 1px solid rgba(152,238,200,255);
  background-color: rgba(152,238,200,255);
  margin: 6%;
}

.delete {
  position: relative;
  left: 60%;
  top: 30%;
  height: 40%;
  width: 35%;
  border-radius: 50%;
  border: 1px solid white;
  background-color: white;
  color: red;
  box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

 .pages {
  position: relative;
  left: 35%;
  margin-top: 2.7%;
}
.page-number {
  box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
  width: 13%;
  height: 6vh;
  border: #b3b3b3;
  color: white;
  border-radius: 50%;
  background-color: #b3b3b3;
  position: relative;
  margin-right: 15%;
  cursor: pointer;
}
.page-number-white {
  box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
  width: 13%;
  height: 6vh;
  border: white;
  color: black;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin-right: 15%;
  cursor: pointer;
}

.number {
  position: relative;
  top: 16%;
}

#content {
  padding-right: 10%;
}


.container {
  width: 60vw;
  height: 100%;
}

