<div class="container" [ngClass]="{'feedback-sidebar': viewingFeedback ? 100 : 0}">
  <div class="row">
    <div class="col-xs-12">
      <div class="card cards">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-4 col-md-4 col-lg-4">
              <div class="circle"></div>
            </div>
            <div class="col-xs-8 col-md-8 col-lg-8" id="userInfo">
              <h5 class="card-title">Hi Reader,</h5>
              <p class="card-text" style="margin-top: -5%">Here's your News!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card cards" style="top: -30px;" *ngIf="!viewingFeedback">
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <h4 class="card-title text-center">View Toggle</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-6 col-lg-6">
              <button
                type="button"
                [ngClass]="{'icon-green': view === 1, 'icon': view !== 1}"
                (click)="onCardClick()"
                style="position: absolute; left: 59px; border-right: none; border-top-left-radius: 10px; border-bottom-left-radius: 10px;"
              >
                <i class="bi bi-card-heading fa-lg"></i>
              </button>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6">
              <button
                type="button"
                [ngClass]="{'icon-green': view === 2, 'icon': view !== 2}"
                (click)="onListClick()"
                style="position: relative; left: -17px; border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
              >
                <i class="bi bi-list-ul"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card cards" [ngStyle]="{'top': viewingFeedback ? '-30px' : '-60px'}">
        <div class="card-body">
          <h4 class="card-title text-center">Have a Feedback?</h4>
          <button (click)="showFeedback()"
          style="border: none; border-radius: 10px; width: 100%; height: 60px;"
          [ngStyle]="{'background-color': viewingFeedback ? '#eda5a7' : 'rgba(152,238,200,255)'}">
          <b>We're Listening!</b></button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-feedback *ngIf="viewingFeedback" (shouldClose)="viewingFeedback = !$event"></app-feedback>
