.container {
  border: 1px solid #d7dfe7;
  left: -40%;
  width: 140%;
  position: relative;
  border-left: none;
  border-top: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 6px 8px 4px #b2d2e985;
  min-height: 100vh;
  background: #ebf2f7;
}

.cards {
margin-top: 15%;
width: 84%;
left: 8%;
box-shadow:0 0px 20px rgba(0, 0, 0, 0.2);
border-radius: 10px;
}

#userInfo {
  margin-left: -8%;
}

.circle {
  height: 110%;
  width: 70%;
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: lightgray;
}

.icon {
  margin-top: 3.25%;
  width: 30%;
  height: 46%;
  border: gray;
  font-size: 210%;
}

.icon-green {
  background-color: rgba(152,238,200,255);
}

.icon-right {
  font-size: 235%;
  margin-top: 8%;
  width: 73%;
  height: 97%;
  border: gray;
}

.feedback-sidebar {
  z-index: 100;
  box-shadow: none;
  border: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
}

