ul {
  list-style-type: none;
}

.container {
  position: relative;
  margin-top: 1.5%;
  margin-left: -5%;
  width: 67vw;
}

.wrapper {
  margin-left: 7%;
  margin-bottom: 6%;
  padding-right: 2%;
  width: 100%;
}

.cards {
  width: 90%;
  max-width: 90%;
  min-width: 90%;
  height: 107%;
  max-height: 104%;
  min-height: 104%;
  box-shadow:0 0px 20px rgba(0, 0, 0, 0.2);
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
}

.post-wrapper {
  width: 90%;
  height: 100%;
}

.cross {
  color: red;
  position: relative;
  left: 82%;
  border: none;
  background-color: white;
  font-size: 120%;
}

.rect {
  width: 100%;
  position: relative;
  top: 2%;
  left: -1%;
  height: 18vh;
  border: lightgray;
  background-color: lightgray;
}

.noOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

li {
  margin-top: 3%;
}

.pages {
  position: relative;
  left: 40%;
  margin-top: 1%;
}
.page-number {
  box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
  width: 12%;
  height: 5.5vh;
  border: #b3b3b3;
  color: white;
  border-radius: 50%;
  background-color: #b3b3b3;
  position: relative;
  margin-right: 15%;
  cursor: pointer;
  margin-top: 3%;
}
.page-number-white {
  box-shadow:0 0px 10px rgba(0, 0, 0, 0.2);
  width: 12%;
  height: 5.5vh;
  border: white;
  color: black;
  border-radius: 50%;
  background-color: white;
  position: relative;
  margin-right: 15%;
  cursor: pointer;
  margin-top: 3%;
}

.number {
  position: relative;
  top: 16%;
}

.wrapper-content {
  cursor: pointer;
  width: 100%;
  height: 38%;
  min-height: 38%;
}

.card-subtitle {
  position: relative;
  top: 7%;
}




